@model BancoApp.Models.BancoModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BancoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdBanco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdBanco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<hr />
<h1>Sucursales</h1>

<table class="table table-responsive table-bordered table-striped">
    <tr>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Fecha Registro</th>
        <th>Operaciones</th>

    </tr>
    @foreach (var sucursal in ViewBag.sucursales)
    {
        <tr>
            <td>@sucursal.Nombre</td>
            <td>@sucursal.Direccion</td>
            <td>@sucursal.FechaRegistro</td>
            <td>
                op
              
            </td>
        </tr>
    }
</table>



<a href="@Url.Action("Create", "Sucursal")">Crear Sucursales</a>
